*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
    display: flex;
}

.cal-outside-container {
    width: 550px;
    height: 650px;
    background-color: #deb7ff;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
}

.cal-inside-container {
    flex-direction: column;
    justify-content: center;
    width: 80%;
    row-gap: 20px;
}

.screen {
    width: 100%;
    height: 100px;
    background-color: #634087;
    border-radius: 8px;
    color: #fff;
    text-align: right;
    padding: 1rem;
}

#screen-result {
    font-size: 3rem;
}

.function-keys {
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.function-key {
    color: #fff;
    background-color: #8549a7;
    border-radius: 8px;
    font-size: 2rem;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.keys-container {
    width: 100%;
}

.key-left {
    flex-wrap: wrap;
    flex-grow: 3;
    gap: 20px 40px;
}

.key-right {
    flex-direction: column;
    row-gap: 20px;
}

.key {
    width: 80px;
    height: 80px;
    background-color: #a86add;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}